.pa {
    width: 100%;
    margin: 28px 0 0 0;
    border: 1px solid transparent;
}

.pb {
    width: 99%;
    display: flex;
    margin: 12px 0 0 0;
    border-radius: 4px;
    padding: 16px 12px 0 0;
    justify-content: space-between;
    box-shadow: 2px -2px 4px var(--light-color);
}

.pba {
    z-index: 2;
    margin-top: -32px;
    border-radius: 2px;
    border-bottom: none;
    padding: 12px 16px;
    background-color: var(--light-col);
    border-top: 1px solid var(--light-color);
    border-left: 1px solid var(--light-color);
    border-right: 1px solid var(--light-color);
}

.pba h3 {
    color: var(--dark-green);
}

.pbb {
    width: 70px;
    height: 9px;
    display: flex;
}

.pbb div {
    width: 33%;
}

.pbba {
    background-color: #277014;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
} 

.pbbb {
    background-color: #659A58;
} 

.pbbc {
    background-color: #ECBA22;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
} 

.pc {
    z-index: 2;
    padding: 12px;
    display: flex;
    align-items: flex-start;
    margin: -2px 0 0 0;
    justify-content: space-between;
    background-color: var(--light-col);
    border: 1px solid var(--light-color);
}


.pca {
    width: 20%;
    padding: 12px;
    background-color: var(--pure-white);
    border-top: 12px solid var(--dark-green);
    border-left: 1px solid var(--light-color);
    border-right: 1px solid var(--light-color);
    border-bottom: 1px solid var(--light-color);
}

.pca div ul li a {
    line-height: 2.5rem;
}

.pca div ul li a:hover {
    color: var(--dark-green);
}

.pcb {
    width: 79%;
    padding: 12px;
    background-color: var(--pure-white);
    border: 1px solid var(--light-color);
}
