
.fa {
    width: 100%;
    margin-top: 80px;
}

.fb {
    max-width: 1300px;
    box-sizing: border-box;
    margin: 0 auto;
}

.fb img {
    width: 100%;
}

.fc div ul li a {
    color: var(--gray-color);
    font-size: 14px;
}

.fc div ul li a:hover {
    color: var(--dark-green);
    font-weight: 600;
    scale: 1.03;
}

.fd {
    font-size: 6px;
    color: var(--dark-color);
    margin: 0 5px 0 0;
}

.fe {
    color: var(--dark-green);
}

.ff {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.ff p {
    font-size: 14px;
    color: var(--gray-color);
}








p {
    font-size: 14px;
    margin: 0 0 12px;
    color: var(--gray-color);
}





.ffsl {
    display: flex;
    font-size: 14px;
}

.ffsl li a {
    padding: 10px 15px;
    color: var(--dark-color);
}

.ffsl li a:hover {
    text-decoration: underline;
}

