
.fa {
    width: 100%;
    margin-top: 40px;
}

.fb {
    max-width: 1300px;
    box-sizing: border-box;
    margin: 0 auto;
}

.fb img {
    width: 100%;
}

.fc {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    border-top: 1px dashed var(--gray-color);
    border-bottom: 1px dashed var(--gray-color);
}

.fc div ul li a {
    color: var(--gray-color);
    font-size: 14px;
}

.fc div ul li a:hover {
    color: var(--dark-green);
    font-weight: 600;
    scale: 1.03;
}

.fc > div {
    width: 20%;
}

.fc div p span {
    color: var(--dark-color);
}

.fd {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.fd p {
    font-size: 14px;
    color: var(--gray-color);
}

.fe {
    font-size: 6px;
    color: var(--dark-color);
    margin: 0 5px 0 0;
}

.ff {
    color: var(--dark-green);
}

.fg {
    display: flex;
    font-size: 14px;
}

.fg li a {
    padding: 10px 15px;
    color: var(--dark-color);
}

.fg li a:hover {
    text-decoration: underline;
}

.an {
    color: var(--dark-green);
}

.fh a {
    color: var(--dark-green);
}
