
.ela {
    padding: 0 0 164px;
}

.elb {
    padding: 24px 0 164px;
}

.elb h3 {
    margin: 0 0 24px;
}

.elc {
    padding: 24px;
}

.eld>div {
    margin: 18px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 6px var(--light-color);
    border: 1px solid var(--light-color);
}
