
.ada {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.adb {
    width: 20%;
    border-top: 8px solid var(--dark-green);
    padding: 24px;
    background-color: var(--pure-white);
}

.adb aside ul li {
    margin: 8px 0;
}

.adb aside ul li a:hover {
    color: var(--dark-green);
}

.adc {
    padding: 24px;
}