


.ca {
    width: 100%;
    border-radius: .5rem;
    border: 1px solid #cecece;
    /* color: var(--gray-color); */
}

.cb {
    display: flex;
}

.cb button {
    width: 50%;
    border: none;
    padding: 12px;
    font-size: 16px;
}

.cc {
    display: flex;
}

.cd {
    color: var(--gray-color);
    background-color: var(--light-col);
}

.ce {
    color: var(--pure-white);
    background-color: var(--dark-green);
}

.cf {
    background-color: var(--light-col);
    padding: 12px;
    width: 100%;
}

.cf h3 {
    margin: 24px 0 12px;
    color: var(--dark-green);
}

.cf ul {
    display: flex;
    flex-wrap: wrap;
}

.cf ul li {
    padding: .3rem 2rem;
}

.cg {
    display: none;
}

.ch {
    display: block;
}

