.ena {
    width: 100%;
    padding: 12px;
}

h4 {
    color: var(--dark-green);
}

.enb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enb span {
    padding: 12px 24px;
}

.dn {
    display: none;
}

.db {
    display: block;
}