.ena {
    width: 100%;
    padding: 12px;
}

h4 {
    color: var(--dark-green);
}

.enb {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.enb span {
    padding: 12px 24px;
}

.enc {
    display: flex;
    gap: 48px;
}

.end {
    cursor: pointer;
}

.end:hover {
    text-decoration: underline;
}

.dn {
    display: none;
}

.db {
    display: block;
}