.ema {
    width: 100%;
    box-sizing: border-box;
}

.emb {
    display: flex;
    align-items: flex-start;
    border: 1px solid red;
}

.emc {
    width: 20%;
    border: 1px solid red;
    background-color: var(--pure-white);
}

.emd {
    border: 1px solid purple;
}