.ema {
    width: 100%;
    box-sizing: border-box;
}

.emb {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.emc {
    width: 20%;
    background-color: var(--pure-white);
}

.emc aside h3 {
    padding: 12px;
}

.emc aside ul li {
    padding: 12px;
}

.emc aside ul li a:hover {
    color: var(--dark-green);
}

.emd {
    width: 79%;
    padding: 12px;
    background-color: var(--pure-white);
}

.eme {
    padding: 148px 0;
}

.eme h3 {
     color: var(--dark-green);
     margin: 0 0 16px;
}

.eme>p {
    color: var(--pure-black);
    margin: 16px 0;
}

.emg {
    width: 240px;
    height: 280px;
    border: 1px solid var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 12px;
}

.emh {
    padding: 48px 0;
}

.emh h3 {
    color: var(--dark-green);
}

.emh h2 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0 0 0 12px;
    padding: 0;
}

.emi {
    text-align: center;
}

.emj {
    margin: 24px 0 0 0;
}

.emk {
    margin: 24px 0 0 0;
}

.emk button {
    padding: 12px 16px;
    border: none;
    cursor: pointer;
}

.eld .ele:nth-child(even) {
    background-color: var(--light-green);
}

.eml {
    /* border: 1px solid red; */
    padding: 4rem 12px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eml>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eml>div>h1 {
    /* border: 1px solid var(--light-color); */
    border-top: 10px solid var(--light-greenesh);
    border-right: 10px solid var(--greenesh);
    border-bottom: 10px solid var(--yelloesh);
    border-left: 6px solid var(--light-yelloesh);
    height: 170px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 4rem;
    font-weight: 600;
    margin: 0 0 1rem;
    color: var(--dark-green);
    box-shadow: 0px 0px 6px var(--light-color);
}
