.ema {
    width: 100%;
    box-sizing: border-box;
}

.emb {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.emc {
    width: 20%;
    /* border: 1px solid red; */
    background-color: var(--pure-white);
}

.emc aside h3 {
    padding: 12px;
}

.emc aside ul li {
    padding: 12px;
}

.emd {
    width: 79%;
    background-color: var(--pure-white);
    padding: 12px;
    /* border: 1px solid purple; */
}

.eme {
    padding: 48px 0;
}

.emf {
}

.emg {
    width: 240px;
    height: 280px;
    border: 1px solid var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 12px;
}

.emh {
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
}

.emi {
    text-align: center;
}

.emj {
    margin: 24px 0 0 0;
}

.emk {
    margin: 24px 0 0 0;
}

.emk button {
    padding: 12px 16px;
    border: none;
    cursor: pointer;
}



.eld .ele:nth-child(even) {
    background-color: var(--light-green);
}



























/*

.elf {
    border: 1px solid var(--light-green);
    padding: 24px 12px;
}

.elf form {
    padding: 24px 0 0 0;
}

.elf label {
    padding: 0 32px 0 0;
}

.elf input {
    border: none;
    border-bottom: 1px solid var(--dark-color);
}

.elf input:focus {
    outline: none;
}

.elf select {
    border: none;
    border-bottom: 1px solid var(--dark-color);
}

.elf select:focus {
    outline: none;
}

.elg {
    margin: 24px 0 12px;
}

.elg button {
    padding: 12px 24px;
    cursor: pointer;
    border: none;
    border-bottom: none;
} */