.ema {
    width: 100%;
    box-sizing: border-box;
}

.emb {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.emc {
    width: 20%;
    background-color: var(--pure-white);
}

.emc aside h3 {
    padding: 12px;
}

.emc aside ul li {
    padding: 12px;
}

.emd {
    width: 79%;
    background-color: var(--pure-white);
    padding: 12px;
    /* border: 1px solid purple; */
}

.eme {
    padding: 48px 0;
}

.eme h3 {
     color: var(--dark-green);
}

.emg {
    width: 240px;
    height: 280px;
    border: 1px solid var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 12px;
}

.emh {
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
}

.emi {
    text-align: center;
}

.emj {
    margin: 24px 0 0 0;
}

.emk {
    margin: 24px 0 0 0;
}

.emk button {
    padding: 12px 16px;
    border: none;
    cursor: pointer;
}

.eld .ele:nth-child(even) {
    background-color: var(--light-green);
}
