.ena {
    width: 100%;
    /* border: 1px solid red; */
    padding: 12px;
    margin: 24px 0;
    border: 1px solid var(--light-green);
    border-radius: 2px;
    /* background-image: url('./assets/imgs/uok-logo.png');
    background-repeat: no-repeat;
    background-position:center; */
}

h4 {
    color: var(--dark-green);
}

.enb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.enb span {
    /* border: 1px solid red; */
    padding: 12px 24px;
}