:root {
    --light-green: #E0E5CA;
    --dark-green: #437C35;
    --dark-color: #444444;
    --light-color: #D0D0D0;
    --gray-color: #5f5f5f;
    --light-col: #F7F7F7;
    --pure-white: #fff;
    --pure-black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--gray-color);
}

strong {
    color: var(--dark-green);
}

table {
    /* border: 1px solid red; */
    width: 100%;
    margin: 24px 0 0;
    border-collapse: collapse;
}

table th {
    font-size: 14px;
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid var(--light-color);
}

table tr td {
    padding: 12px 6px;
    font-size: 12px;
    border-bottom: 1px solid var(--light-color);
}

table tr:nth-child(even) {
    background-color: var(--light-green);
}

table tr:hover {
    background-color: var(--dark-green);
    color: var(--pure-white);
}


.btn1 {
    padding: 12px 18px;
    background-color: var(--dark-green);
    color: var(--pure-white);
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn1:hover {
    background-color: transparent;
    color: var(--dark-green);
    border: 1px solid var(--dark-green);
}

.btn2 {
    padding: 12px 18px;
    background-color: var(--pure-white);
    color: var(--dark-green);
    border-radius: 4px;
    border: 1px solid var(--dark-green);
    cursor: pointer;
}

.btn2:hover {
    background-color: var(--dark-green);
    color: var(--pure-white);
    border: 1px solid transparent;
}




form {
    padding: 24px 0 0 0;
}

form label {
    padding: 0 32px 0 0;
}

form input {
    border: none;
    border-bottom: 1px solid var(--dark-color);
}

form input:focus {
    outline: none;
}

form select {
    border: none;
    border-bottom: 1px solid var(--dark-color);
}

form select:focus {
    outline: none;
}

