:root {
    --light-green: #E0E5CA;
    --dark-green: #437C35;
    --dark-color: #444444;
    --light-color: #D0D0D0;
    --gray-color: #5f5f5f;
    --light-col: #F7F7F7;
    --pure-white: #fff;
    --pure-black: #000;
    --yelloesh: #ECBA22;
    --greenesh: #277014;
    --light-greenesh: #659A58;
    --light-yelloesh: #fce398;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

.dn {
    display: none;
}

.db {
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--gray-color);
    transition: all 0.3s;
}

strong {
    color: var(--dark-green);
}

table {
    width: 100%;
    margin: 24px 0 0;
    border-collapse: collapse;
}

table th {
    font-size: 14px;
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid var(--light-color);
}

table tr td {
    padding: 12px 6px;
    font-size: 12px;
    border-bottom: 1px solid var(--light-color);
}

table tr:nth-child(even) {
    background-color: var(--light-green);
}

table tr:hover {
    background-color: var(--dark-green);
    color: var(--pure-white);
}

p {
    font-size: 14px;
    margin: 0 0 12px;
    color: var(--gray-color);
}

.btn {
    background-color: red;
    padding: 2px 6px;
    color: var(--pure-white);
    cursor: pointer;
}

.btn1 {
    padding: 12px 18px;
    background-color: var(--dark-green);
    color: var(--pure-white);
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn1:hover {
    background-color: transparent;
    color: var(--dark-green);
    border: 1px solid var(--dark-green);
}

.btn2 {
    padding: 12px 18px;
    background-color: var(--pure-white);
    color: var(--dark-green);
    border-radius: 4px;
    border: 1px solid var(--dark-green);
    cursor: pointer;
}

.btn2:hover {
    background-color: var(--dark-green);
    color: var(--pure-white);
    border: 1px solid transparent;
}

.btn3 {
    padding: 12px 24px;
    cursor: pointer;
    border: none;
    border-bottom: none;
}

.btn4 {
    background-color: var(--light-green);
    cursor: pointer;
    padding: 2px 6px;
}

small {
    color: red;
}


form {
    padding: 24px 0 0 0;
}

form label {
    padding: 0 32px 0 0;
}

form input {
    border: none;
    border-bottom: 1px solid var(--dark-color);
}

form input:focus {
    outline: none;
}

form select {
    border: none;
    border-bottom: 1px solid var(--dark-color);
}

form select:focus {
    outline: none;
}

/* loader */

.loader {
    position: relative;
    width: 30px;
    height: 30px;
  }
  .loader:before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translate(-5px, -50%);
    background: linear-gradient(to right, #020202 50%, #437C35  50%) no-repeat;
    background-size: 200% auto;
    background-position: 100% 0;
    animation: colorBallMoveX 1.5s linear infinite alternate;
  }
 .loader:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background: #de3500;
 }
@keyframes colorBallMoveX {
  0%  {
    background-position: 0% 0;
    transform: translate(-15px, -50%);
  }
  15%  , 25% {
    background-position: 0% 0;
    transform: translate(0px, -50%);
  }
  75% , 85% {
    background-position: 100% 0;
    transform: translate(50px, -50%);
  }
  100% {
    background-position: 100% 0;
    transform: translate(65px, -50%);
  }
}
  