
.pcca {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.pccb {
    width: 20%;
    border-top: 8px solid var(--dark-green);
    padding: 12px;
    background-color: var(--pure-white);
}

.pccc {
    width: 79%;
    padding: 24px;
    background-color: var(--pure-white);
}

.pccc h3 {
    color: var(--dark-green);
}

.pccc p {
    color: var(--dark-color);
}

.pccb ul li {
    margin: 8px 0;
}

.pccb ul li a:hover {
    color: var(--dark-green);
}

.pccc a {
    margin: 12px 0 0 12px;
    font-size: 14px;
    color: var(--dark-green);
}

.pccc a:hover {
    text-decoration: underline
}
