
.pcca {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.pccb {
    width: 20%;
    padding: 12px;
    background-color: var(--pure-white);
    border-top: 8px solid var(--dark-green);
}

.pccc {
    width: 79%;
    padding: 24px;
    background-color: var(--pure-white);
}

.pccc h3 {
    color: var(--dark-green);
}

.pccc p {
    color: var(--dark-color);
}

.pccb ul {
    list-style:square;
    color: var(--dark-green);
    margin: 0 0 0 18px;
}

.pccb ul li {
    padding: 12px;
}

.pccb ul li a:hover {
    color: var(--dark-green);
}

.pccc a {
    font-size: 14px;
    margin: 12px 0 0 12px;
    color: var(--dark-green);
}

.pccc a:hover {
    text-decoration: underline
}
