
.fca {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.fcb {
    width: 20%;
    border-top: 8px solid var(--dark-green);
    padding: 24px;
    background-color: var(--pure-white);
}

.fcb aside ul li {
    margin: 8px 0;
}

.fcb aside ul li a:hover {
    color: var(--dark-green);
}

.fcc {
    width: 80%;
    padding: 24px;
}
