
nav {
    padding: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--dark-color);
}

nav ul {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li a {
    padding: 12px;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: var(--dark-green);
}



.ha {
    background-color: var(--light-green);
    border-top: 8px solid var(--dark-green);
    box-shadow: 0px 0px 8px var(--dark-color);
}

.hb {
    margin: 0 auto;
    max-width: 1300px;
    box-sizing: border-box;
}

.hc {
    display: flex;
    justify-content: space-between;
}

.hd {
    margin: 22px 0 0 16px;
}

.he {
    height: 134px;
    display: flex;
    max-width: 567px;
    align-items: end;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
}

.hf {
    display: flex;
}

.hf li:nth-child(1) a {
    color: var(--pure-white);
    background-color: var(--dark-green);
}

.hf li a {
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 4px;
    color: var(--dark-color);
}

.hf li a:hover {
    color: var(--pure-white);
    background-color: var(--dark-green);
}

.hg {
    margin-right: 20px;
    font-family: sans-serif;
    color: var(--dark-green);
}

.hh {
    padding: 10px 18px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: var(--dark-color);
}

.hh input:focus {
    outline: none;
}

.hi {
    width: 300px;
    padding: 6px;
    border-radius: 4px;
}

.hj {
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    position: absolute;
    border-radius: 4px;
    margin: 4px 0 0 -65px;
    color: var(--pure-white);
    background-color: var(--dark-green);
}

.hk {
    margin-left: 6px;
    padding: 2px 8px 22px 8px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


nav ul li a:hover .hk {
    color: var(--dark-color);
    background-color: var(--pure-white);
}

.hl {
    font-size: 10px;
    padding: 1px 3px;
    font-weight: 800;
    position: absolute;
    border-radius: 10px;
    margin: -15px 0 0 -12px;
    background-color: red;
    color: var(--pure-white);
    border: 1px solid var(--pure-white);
}

.hdd {
    position: absolute;
    width: 100%;
    /* display: none; */
}

.hddi {
    display: flex;
    /* justify-content: space-between; */
    max-width: 1300px;
    margin: 0 auto;
    border: 1px solid red;
}

.hddi>div {
    padding: 12px;
    border: 1px solid purple;
}

.hddi>div:nth-child(1) {
    background-color: red;
    visibility: hidden;
}

.hddi a {
    font-size: 14px;
}

.hddl {
    z-index: 99;
    background-color: black;
}

.hddl a {
    color: red;
}

.vv {
    visibility: visible;
}

.vh {
    visibility: hidden;
}

.db {
    display: block;
}

.dn {
    display: none;
}

.ddla {
    position: absolute;
    background-color: var(--pure-white);
    z-index: 99;
    margin: 12px 0 0 40px;
    width: 220px;
    display: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ddla div {
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid var(--light-color);
}

.ddla div a {
    width: 100%;
    color: var(--dark-green);
    border-radius: 0;
    font-size: 14px;
}

.ddla div a:hover {
    background-color: transparent;
    color: var(--pure-black);
}

nav>ul>li:hover .ddla  {
    display: block;
}
