

.oh {
    background-color: var(--light-green);
    border-top: 8px solid var(--dark-green);
}

.ih {
    max-width: 1300px;
    box-sizing: border-box;
    margin: 0 auto;
}

.kul {
    margin: 22px 0 0 16px;
}

nav {
    background-color: var(--dark-color);
    padding: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    /* margin-top: 20px; */
}

nav ul {
    height: 44px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    color: #fff;
    font-size: 1.1rem;
    padding: 12px;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: var(--dark-green);
}

.ddi {
    margin-left: 6px;
    padding: 2px 8px 22px 8px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


nav ul li a:hover .ddi {
    background-color: var(--pure-white);
    color: var(--dark-color);
}


.new {
    font-size: 10px;
    margin: -15px 0 0 -12px;
    border: 1px solid var(--pure-white);
    background-color: red;
    color: var(--pure-white);
    position: absolute;
    border-radius: 10px;
    padding: 1px 3px;
    font-weight: 800;
}

.hf {
    display: flex;
    justify-content: space-between;
}

.hsl {
    display: flex;
}

.hsl li a {
    color: var(--dark-color);
    /* border: 1px solid red; */
    padding: 5px 8px;
    font-size: 14px;
    border-radius: 4px;
}

.hsl li a:hover {
    background-color: var(--dark-green);
    color: var(--pure-white);
}

.hir {
    max-width: 567px;
    height: 134px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.hcn {
    color: var(--dark-green);
    margin-right: 20px;
    font-family: sans-serif;
}

.hiw {
    /* border: 1px solid red; */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px 18px;
    background-color: var(--dark-color);
}

.ip {
    width: 300px;
    border-radius: 4px;
    padding: 6px;
}

.hiw input:focus {
    outline: none;
}

.ib {
    border: none;
    position: absolute;
    margin: 4px 0 0 -70px;
    padding: 4px 8px;
    border-radius: 4px;
}







.ddo {
    border: 1px solid blue;
    position: absolute;
    display: flex;
    width: 80%;
}


.ddl {
    border: 1px solid red;
}

