.hma {
    transition: all 0.3s;
}

.hmb {
    max-width: 1300px;
    box-sizing: border-box;
    margin: 0 auto;
    transition: all 0.3s;
}

.hmc {
    padding: 24px 12px;
    transition: all 0.3s;
}

.hmd {
    box-shadow: 0 4px 6px -2px var(--light-color);
    width: 100%;
    transition: all 0.6s ease-in-out;
}

.hmd img {
    width: 100%;
    object-fit: cover;
    transition: all 0.3s;
}

.hme, .hmf {
    padding: 12px 24px;
    box-shadow: 0 4px 6px -2px var(--light-color);
}

.hme a {
    font-size: 24px;
    color: var(--dark-green);
}

.hme, .hmf a:hover {
    text-decoration: underline;
}

.hmf a {
    font-size: 18px;
    margin: 0 12px;
    color: var(--dark-green);
}

.hmf {
    display: flex;
}

.hmf h3 {
    color: var(--dark-green);
    font-weight: 600;
}

.hmg {
    display: flex;
    padding: 12px;
    margin: 12px 0;
    align-items: center;
    background-color: var(--light-col);
}

.hmg h3 {
    padding: 12px 48px;
    color: var(--dark-green);
    background-color: var(--pure-white);
}

.hmg p {
    margin: 0 0 0 12px;
}

.hmg a {
    color: var(--dark-green);
}

.hmh {
    display: flex;
}

.hmi img {
    width: 250px;
}

.hmj {
    width: 500px;
}

.hmk {
    margin: 0 12px;
    width: 500px;
}
